.navbar-collapse {
  justify-content: flex-end;
}

.btn_clean_form {
  position: absolute;
  left: 166px;
}
.input_country {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input {
  box-shadow: rgb(0 0 0 / 15%) 0px 2px 8px;
}
.selecting_language {
  max-width: 68px;
}
.btn_group_enter {
  max-width: 322px;
  width: 100%;
  display: flex;
  margin-top: 5px;
}
.log_in,
.sing_up,
.search {
  box-shadow: rgb(0 0 0 / 15%) 0px 2px 8px;
}
