nav{
  position: relative;
}
.navbar-collapse {
  justify-content: flex-end;
}
.input_box{
  position: relative;
}
.btn_clean_form {
  position: absolute;
  right: 13px;
  padding: 3px 6px;
  border-radius: 50%;
  line-height: 1;
  top: 6px;
}
.input_country {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

}
.input {
  box-shadow: rgb(0 0 0 / 15%) 0px 2px 8px;
}
.selecting_language {
  max-width: 84px;
}
.btn_group_enter {
  max-width: 360px;
  width: 100%;
  display: flex;
  margin-top: 5px;
}

.log_in,
.sing_up,
.search {
  box-shadow: rgb(0 0 0 / 15%) 0px 2px 8px;
}

.header-user {
  line-height: 35px;
}
.header-user span {
  margin: 0 10px;
  font-weight: bold;
}
.header-user a {
  transition: 0.5s all ease;
}
.header-user a:hover {
  opacity: 0.5;
  text-decoration: none;
}
.success-message {
  color: greenyellow;
}
.error-message {
  color: red;
}

.search-result{
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 150px;
  background: #fff;
  border-radius: 5px;
  padding: 20px;
  z-index: 22;
  width: 100%;
  max-width: 400px;
  box-shadow: 0px 15px 40px rgb(0 0 0 / 15%);
}
.search-result__title{
  font-weight: bold;
  font-size: 20px;
}
.form-control{
  width: 100px;
  margin-right: 20px;
}
.search-result__item{
  font-size: 18px;
  font-weight: bold;
}
.file-wrapper{
  position: relative;
}
.file-wrapper input{
  width: 100%;
  margin-bottom: 20px;
  opacity: 0;
}
.header-user img{
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}
.file-wrapper span{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  cursor: pointer;
  border-radius: 7px;
  text-align: center;
  width: 100%;
  background: #ffd900;
  padding: 7px;
  font-weight: bold;
}
.file-name{
  color: #ffd900;
  font-weight: bold;
  margin-bottom: 15px;
}
.search-result__item:hover{
  text-decoration: none;
}


.unVisible {
  display: none;
}
@media(max-width: 767px){
  .btn_group_enter{
    display: block;
  }

}